<div class="shop_section_areas">
  <div class="top_filter_shop_section_areas">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3">
          <div class="filter_wraperss">
              <a href="">
                <span class="humberger_icon">
                  <img src="../../../../../assets/img/humberger.svg" alt="" srcset="">
                </span>
                <span class="humberger_text">filtrar y ordenar</span>
              </a>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9">
          <div class="wraper_shop_tools">
            <div class="count_labels">
              <h4>Mostrando 16 productos</h4>
            </div>
            <div class="tag_tools">
              <ul>
                <li>
                  <a href="">
                    <span class="tools_icon"><i class="fa-solid fa-xmark"></i></span>
                    <span class="tools_text">tomates</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <span class="tools_icon"><i class="fa-solid fa-xmark"></i></span>
                    <span class="tools_text">Sin TACC</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <span class="tools_icon"><i class="fa-solid fa-xmark"></i></span>
                    <span class="tools_text">free delivery</span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------Bottom-mainsections------------------>
  <div class="main-product-sections">
    <div class="inner-main-product-sections">
      <div class="container">
        <div class="slider_section_products">
          <div class="section_header">
            <div class="row">
              <div class="col-xl-12">
                <div class="heading">
                  <h2>Ofertas de la semana</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="product_sliderss">
            <div class="row">
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3">
                <div class="product_cards">
                  <a href="" class="cart">
                    <span>
                      <i class="fa-solid fa-plus"></i>
                    </span>
                  </a>
                  <div class="inner_product_cards">
                    <div class="product_thumbnail">
                      <img src="../../../../../assets/img/p1.jpg" alt="" srcset="">
                    </div>
                    <div class="product_content">
                      <div class="inner_product_content">
                        <div class="regular_price">
                          <h4>
                            <s>$580</s>
                          </h4>
                        </div>
                        <div class="sale_price_wraper">
                          <div class="inner_sale_price_wrapers">
                            <h4>$480</h4>
                            <div class="tag">
                              <span>
                                25% OFF
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="product_title">
                          <h4 class="title">Aceite de coco</h4>
                          <h5 class="product_category">Aceite de coco</h5>
                          <h5 class="waight">500ml</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
