<div class="banner_section">
  <div class="inner_banner_section">
    <div class="banner_img">
      <img src="../../../../../assets/img/banner.png" alt="" srcset="" class="banner">
    </div>
    <div class="banner__content">
      <div class="inner_banner__content">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2">
              <div class="banner_logo">
                <img src="../../../../../assets/img/comp-logo.png" alt="" srcset="">
              </div>
            </div>
            <div class="col-xl-10 col-lg-10">
              <div class="banner_main_content">
                <div class="to_heading">
                  <h3>TINA&CO</h3>
                </div>
                <div class="location">
                  <span>
                    <i class="fa-solid fa-location-dot"></i>
                  </span>
                  <h4>Mendoza 1678 C1428DJP C.A.B.A</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner_bars">
  <div class="inner_banner_bars">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3"></div>
        <div class="col-xl-6 col-lg-6">
          <div class="banner_bottom_tools">
            <ul>
              <li><a href="">800 productos</a></li>
              <li><a href=""><span class="biking"><i class="fa-solid fa-person-biking"></i></span>ENTREGA LOCAL</a></li>
              <li><a href=""><span class="shopping"><i class="fa-solid fa-bag-shopping"></i></span>RETIRO EN EL DOMICILIO</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</div>
